head {
    margin: 20px 0;
    border: 10px;
    border-top: 1px dashed #c6ee22a2;
  }
  
  
    h3, h4, h5 {
      margin: 10px 0;
      font-weight: 500;
      line-height: 1.2;
      color: #000;
    }
    h5 {
      margin-bottom: 0;
      font-size: 24px;
      color: green;
    }
    ul {
      padding: 0;
      margin: 0 0 30px 25px;
    }
    li {
      line-height: 20px;
    }
    p {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 0;
    }
  html, body {
    margin: 10px;
    padding: 10px;
  }
 
  
  body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #87ee54;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: auto;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-weight: 300;
  }
  
  button, input[type="checkbox"] {
    outline: none;

  }
  